<h1>Puppy Maker</h1>
<form method="post" action="/">
<textarea name="name"></textarea></br>
<textarea name="breed"></textarea></br>
<textarea name= "age"></textarea>
<br>
<input type="submit" value="submit">Submit</input>
</form>
