<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>Click Here To List A Puppy</h1>
    <form method="post" action="/">
    <textarea name="user_phrase"></textarea>
    <br>
    <button type="submit" value="submit">Submit</button>
  </form>
  </body>
</html>
